body {
    margin: 0;
    padding: 0;
    width: 1300px;
    font-family: arial;
}
.button_title{
    height:50px;
    background-color:#1E1E1E;
    float:left;
    padding-left: 65px;
    width:80%;
}
.button{
    color:#9E9B9B;/*背景外面的颜色*/
    background-color:#1E1E1E;/*背景颜色*/
    height:50px;
    top:0;
    border:0;
    padding:0 15px;
    font-size: 100%;
}
.goods_list_label_color{
    color:#FFFFFF;
    background-color:black;
}
.shopping_cart_label{
    background-color:#1E1E1E;
    height:50px;
}
.img{
    height:25px;
    width: 25px;
    vertical-align: middle;/*图片垂直居中*/
}
#shopping_cart_num{
    display: inline;/*div并列*/
}
.margin{
    border-radius:5px;
    border-style: solid;
    border-color: #cccccc;
    width:1170px;
    margin: 30px 65px;
    border-width: 1px;
}
.title_style{
    background-color: rgba(204, 204, 204, 0.22);
    height:60px;

}
.title{
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    height:50%;
    padding-top: 20px;
    font-weight: 700;
}
.border_within{
    border-style: solid none none none;
    border-color: #cccccc;
    width:1170px;
    border-width: 1px;
}
table {
    border-collapse:collapse;/*表格合并成单一表格*/
    margin: 20px 20px 40px 20px;
}
table,th, td {
    border: 1px solid #cccccc;
}
.attribute{/*属性*/
    height:40px;
}
.table_th{
    width:230px;
}
.table_th_danw{
    width:200px
}
.table_th_button{
    width:260px;
}
td{
    height:50px;
    text-align: center;
}
.tuple_info{

}
.button_style{
    background-color:#0477CA;
    color:	#FFFFFF;
    border-radius: 4px;
    font-size:12px;
    width:90px;
    height:27px;
    border:0;
}