.blue_background {
    background-color:#836FFF;
    border-radius: 7px;
    font-size: 23px;
}
.white_font {
    color:	#FFFFFF;
}
.background_color {
    background-color:#CCCCCC;
}
.title_background {
    background-color:#1E1E1E;
    height:50px;
}
.word_spacing{
    letter-spacing:0.5px;
    line-height:23px;
}
.p1_button{
    color: #cccccc;
    background-color:#1E1E1E;
    height:50px;
    top:0px;
    border:0px;
    font-size: 100%;
    margin-left:10px;
}
.p2_button{
    color:#CCCCCC;
    background-color:#1E1E1E;
    height:50px;
    top:0px;
    border:0px;
    font-size: 100%;
}
.p3_button{
    color:#CCCCCC;
    background-color:#1E1E1E;
    height:50px;
    top:0px;
    border:0px;
    font-size: 100%;
}
.p4_button{
    color:#CCCCCC;
    background-color:#1E1E1E;
    height:50px;
    top:0px;
    border:0px;
    font-size: 100%;
    float:right;
}
.margin{
    margin-bottom:10px;
    margin-top: 10px;
}
.index_layout {
    border: 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#CCCCCC;
}


