.blue_background {
    background-color:#836FFF;
    border-radius: 7px;
    font-size: 23px;
}
.white_font {
    color:	#FFFFFF;
}
.background_color {
    background-color:#CCCCCC;
}
.title_background {
    background-color:#1E1E1E;
    height:50px;
    width: 100%;
}
.word_spacing{
    letter-spacing:0.5px;
    line-height:23px;
}
.p1_button{
    color: #cccccc;
    background-color:#1E1E1E;
    height:50px;
    top:0px;
    border:0px;
    font-size: 100%;
    margin-left:10%;
}
.p2_button{
    color:#CCCCCC;
    background-color:#1E1E1E;
    height:50px;
    top:0px;
    border:0px;
    font-size: 100%;
}
.p3_button{
    color:#CCCCCC;
    background-color:#1E1E1E;
    height:50px;
    top:0px;
    border:0px;
    font-size: 100%;
}
.p4_button{
    color:#CCCCCC;
    background-color:#1E1E1E;
    height:50px;
    top:0px;
    border:0px;
    font-size: 100%;
    float:right;
    margin-right: 10%;
}
.h1_margin{
    margin-bottom:30px;
    margin-top: 20px;
    font-size: 350%;
}
.margin{
    margin-bottom:20px;
    margin-top: 10px;
    font-size: 150%;
    line-height: 130%;

}
.index_layout {
    border: 2px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    padding-top:7%;
    padding-bottom: 8%;
    padding-left: 7%;
    padding-right: 7%;
    background-color:#CCCCCC;
}


