.blue_background {
    background-color:#3A5FCD ;
}
.white_font {
    color:	#FFFFFF;
}
.background_color {
    background-color:#CCCCCC;
}
.title_background {
    background-color:#1E1E1E;
    height: 30px;
}
.font_properties {
    color:#FFFFFF;
    text-align:center;
}
