body {
    margin: 0;
    padding: 0;
    width: 1300px;
}
.button_title {
    background-color:#1E1E1E;
    height:50px;
    padding-left: 65px;
    float:left;
    width:80%;
}
.button{
    color:#9E9B9B;/*背景外面的颜色*/
    background-color:#1E1E1E;/*背景颜色*/
    height:50px;
    top:0;
    border:0;
    padding:0 15px;
    font-size: 100%;
}
.color{
    color:#FFFFFF;
    background-color:black;
}
.right{
    background-color:#1E1E1E;
    height:50px;
}
.img{
    height:25px;
    width: 25px;
    vertical-align: middle;/*图片垂直居中*/
}
#shopping_cart{
    display: inline;/*div并列*/
}
.brackets{
    display: inline;
}