body {
    margin: 0;
    padding: 0;
    width: 1300px;
}
.button_title {
    background-color:#1E1E1E;
    height:50px;
    padding-left: 65px;
    float:left;
    width:80%;
}
.button{
    color:#9E9B9B;/*背景外面的颜色*/
    background-color:#1E1E1E;/*背景颜色*/
    height:50px;
    top:0;
    border:0;
    padding:0 15px;
    font-size: 100%;
}
.index_label_color{
    color:#FFFFFF;
    background-color:black;
}
.shopping_cart_label{
    background-color:#1E1E1E;
    height:50px;
}
.img{
    height:25px;
    width: 25px;
    vertical-align: middle;/*图片垂直居中*/
}
#shopping_cart_num{
    display: inline;/*div并列*/
}
.main{
    border-radius:5px;
    border-style: solid;
    border-color: #cccccc;
    width:1170px;
    margin: 30px 65px;
    border-width: 1px;
}
.title_style{
    background-color: rgba(204, 204, 204, 0.22);
    height:60px;

}
.title{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    height:50%;
    padding-top: 20px;
    padding-left: 40px;
    font-weight: 700;
}
.title_bottom{
    border-style: solid none none none;
    border-color: #cccccc;
    width:1170px;
    border-width: 1px;
}
table {
    border-collapse:collapse;/*表格合并成单一表格*/
    margin: 20px 20px 40px 20px;
}
table,th, td {
    border: 1px solid #cccccc;
}
.attribute_height{/*属性*/
    height:40px;
}
.table_th_type_and_unit{
    width:100px;
}
.table_th_name_and_price{
    width:200px;
}
.table_th_number_and_subtotal{
    width:285px;
}
td{
    height:50px;
    text-align: center;
    vertical-align: top;
    padding-top: 15px;
}
.total_style{
    margin-left: 1050px;
}
/*#total{*/
    /*display: inline;/!*div并列*!/*/
/*}*/
.pay_button{
    background-color:#0477CA;
    color:	#FFFFFF;
    border-radius: 4px;
    font-size:15px;
    width:60px;
    height:30px;
    border:0;
    margin-left: 1080px;
    margin-bottom: 20px;
}
.button_frame{
    border-radius:5px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    width:140px;
    height: 30px;
    margin-left: 69px;
}
.dec_button{
    border-radius:5px 0 0 5px;
    float:left;
    width: 50px;
    height: 30px;
    background-color: #FFFFFF ;
    border: 0;
    padding: 0;
}
.add_button{
    border-radius:0 5px 5px 0;
    float:right;
    width: 50px;
    height: 30px;
    background-color: #FFFFFF ;
    border: 0;
    padding: 0;

}
.dec_and_add_button_border_left{
    border-style: solid ;
    border-color: #cccccc;
    border-width: 1px;
}